@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  background-color: #0F171F;
  
 
}
.rotate-x-6 {
    transform: perspective(1000px) rotateX(10deg); /* Parte superior viene hacia adelante (hacia arriba) */
  }
  
  .rotate-x--6 {
    transform: perspective(1000px) rotateX(-10deg); /* Parte superior va hacia atrás (hacia abajo) */
  }
  
  /* Rotación en el eje Y: */
  .rotate-y-6 {
    transform: perspective(1000px) rotateY(10deg); /* Izquierda hacia adelante (derecha hacia atrás) */
  }
  
  .rotate-y--6 {
    transform: perspective(1000px) rotateY(-10deg); /* Derecha hacia adelante (izquierda hacia atrás) */
  }

  header{
    
    backdrop-filter: blur(50px);
    position: sticky;
    top: 0px;
    animation: adjust-header liner both;
    animation-timeline: scroll();
    animation-range: 0 200px;
  }
  
  @keyframes adjust-header{
    to{
      background: rgba(0, 0, 0, .3);
      font-size: 12px;
      height: 24px;
    }
  }
